*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(0,14,255,1) 100%);
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

#timer{
    background-color: rgb(77, 77, 77);
    padding: 50px;
    border-radius: 30px;
    min-width: 500px;
    box-shadow: 0 0 20px black;
    text-align: center;
}
.time{
    margin-bottom: 20px;
    font-size: 100px;
    color: white;
}

#timer button{
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    margin: 0 4px;
    cursor: pointer;
   color: black;
   font-size: 20px;
}